<p-panel header="Pipes basicos" class="p-2">
  <p>
    Pipes incluidos en Angular - Usualemnte en el common module
  </p>
</p-panel>
<br>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{nameUpper|uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{nameLower|lowercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{nameTitle|titlecase}}
    </p-card>
  </div>
</div>